html, body{
margin:0;
padding:0;
background:#F6FAFD;
font-family:Arial;
color:#1A3D63;
}

/* HEADER */
header{
background:linear-gradient(135deg,#1A3D63,#4A7FA7);
color:white;
padding:20px 40px;
display:flex;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;
}

/* NAV */
nav a{
color:white;
margin:0 12px;
text-decoration:none;
font-weight:bold;
}

/* SEARCH */
.search-box{
width:100%;
display:flex;
justify-content:center;
margin-top:10px;
}

.search-box input{
width:60%;
max-width:400px;
padding:10px;
border-radius:10px;
border:none;
}

/* HERO */
.hero{
text-align:center;
padding:60px 20px;
background:#B3CFE5;
}

.hero img{
width:90%;
max-width:600px;
border-radius:12px;
margin-top:20px;
}

/* GRID */
.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
padding:30px;
}

/* PRODUCT */
.product{
background:white;
border-radius:12px;
padding:10px;
text-align:center;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.product img{
width:100%;
height:180px;
object-fit:cover;
border-radius:10px;
}

/* BUTTON */
button{
background:#4A7FA7;
color:white;
border:none;
padding:10px;
border-radius:8px;
cursor:pointer;
}

/* BOXES */
.login-box,
.payment-box,
.cart-box,
.welcome-box,
.product-detail{
width:90%;
max-width:420px;
margin:60px auto;
background:white;
padding:20px;
border-radius:12px;
text-align:center;
}

/* FOOTER */
.footer{
text-align:center;
background:#1A3D63;
color:white;
padding:20px;
margin-top:40px;
}